langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-mistralai
langchain-huggingface
langchain-text-splitters

faiss-cpu
chromadb

sentence-transformers
transformers
huggingface-hub

pypdf
pymupdf
unstructured
python-docx

tiktoken

streamlit

python-dotenv

pydantic

numpy
pandas

rank-bm25

requests

beautifulsoup4

lark